@import "../../../assets/../variables.scss";

:host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    & > section {
        width: calc(100% - 16px);
        display: grid;
        grid-template-columns: 200px 1fr 340px;
        grid-template-rows: repeat(3, auto);
        gap: 8px;
        & > section {
            &.header {
                grid-column: 1 / 4;
                grid-row: 1 / 2;
                background-color: #eee;
                font-family: $open-sans;
                display: grid;
                grid-template-columns: min-content max-content 1fr;
                gap: 4px;
                border-radius: 2px;
                & > div {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    &.timer {
                        grid-column: 1 / 2;
                        width: 64px;
                        height: 64px;
                        background-size: 110%;
                        background-position: center;
                        background-image: url(../../../assets/tools/clock.gif);
                        background-repeat: no-repeat;
                        font-weight: 700;
                        font-size: 24px;
                        image-rendering: pixelated;
                        margin: -4px 0;
                        margin-left: 4px;
                    }
                    &.round {
                        grid-column: 2 / 3;
                        font-size: 20px;
                        font-weight: 700;
                    }
                    &.word {
                        grid-column: 3 / 4;
                        font-size: 28px;
                        font-weight: 700;
                        letter-spacing: 3px;
                    }
                }
            }
            &.board {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                & > div {
                    &:first-of-type {
                        border-top-left-radius: 4px;
                        border-top-right-radius: 4px;
                    }
                    &:nth-of-type(odd) {
                        background: #eee;
                        &[data-state = correct] {
                            background: #82c669;
                        }
                    }
                    &:nth-of-type(even) {
                        background: #fafafa;
                        &[data-state = correct] {
                            background: #97d87f;
                        }
                    }
                    &:last-of-type {
                        border-bottom-left-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                    font-family: $open-sans;
                    & > div {
                        &:first-of-type {
                            font-size: 18px;
                            font-weight: 700;
                            padding-left: 10px;
                        }
                        &:last-of-type {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            width: 100px;
                            & > div {
                                width: 100%;
                                box-sizing: border-box;
                                text-align: center;
                                &:first-of-type {
                                    font-size: 13px;
                                    font-weight: 700;
                                    overflow: hidden;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                }
                                &:last-of-type {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                    &.isMe > div:last-of-type > div:first-of-type {
                        color: blue;
                        &::after {
                            content: " (You)";
                        }
                    }
                    &[data-state = drawing] {
                        background: #f9ffa1;
                    }
                }
            }
            &.sandbox {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                & > div.box {
                    background-color: white;
                    position: relative;
                    & > canvas {
                        width: 100%;
                        min-width: 300px;
                        height: auto;
                        // box-sizing: border-box;
                    }
                    & > div {
                        position: absolute;
                        background-color: rgba(3,8,29,.8);
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        box-sizing: border-box;
                        margin: 0;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        z-index: 1;
                        gap: 8px;
                        h1 {
                            font-family: $open-sans;
                            color: white;
                            margin: 0;
                            font-size: 2.2vw;
                        }
                        div {
                            display: flex;
                            flex-flow: row wrap;
                            width: calc(100% - 16px);
                            align-items: center;
                            justify-content: center;
                            gap: 16px;
                            & > span {
                                font-family: $open-sans;
                                font-size: 1.5vw;
                                padding: 6px 8px;
                                border-radius: 4px;
                                color: black;
                                background-color: white;
                                cursor: pointer;
                                &:hover {
                                    background-color: rgb(156, 156, 156);
                                }
                            }
                        }
                    }
                }
            }
            &.chat {
                grid-column: 3 / 4;
                grid-row: 2 / 3;
                background: #eee;
                border-radius: 2px;
                padding: 4px;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 1fr min-content;
                min-height: 380px;
                max-height: calc(calc(3/4 * calc(100vw - 516px)) - 46px);
                & > div {
                    overflow-y: auto;
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;
                    & > div {
                        font-family: $open-sans;
                        padding: 3px;
                        word-wrap: break-word;
                        &:nth-of-type(even) {
                            background: #fafafa;
                        }
                        & > span {
                            font-weight: bold;
                            font-size: 14px;
                            &:not(:only-child) {
                                &:last-of-type {
                                    font-weight: normal;
                                    &::before {
                                        content: ' ';
                                    }
                                }
                            }
                        }
                        &[data-type = normal] {
                            color: black;
                        }
                        &[data-type = passers] {
                            color: rgb(125, 173, 63);
                        }
                        &[data-type = server-good] {
                            color: rgb(86, 206, 39);
                        }
                        &[data-type = server-bad] {
                            color: rgb(206, 39, 39);
                        }
                        &[data-type = server-yellow] {
                            color: rgb(206, 153, 39);
                        }
                    }
                }
                & > input {
                    font-size: 14px;
                    padding: 6px 12px;
                    font-family: $open-sans;
                    outline: none;
                    border: 1px solid rgb(139, 139, 139);
                    border-radius: 2px;
                    text-overflow: ellipsis;
                    &:focus {
                        border-color: #66afe9;
                        box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 
                            0 0 8px rgb(102 175 233 / 60%);
                    }
                }
            }
            &.art {
                grid-column: 2 / 4;
                grid-row: 3 / 4;
                display: flex;
                flex-direction: row;
                box-sizing: border-box;
                align-items: center;
                justify-content: flex-start;
                gap: 8px;
                & > div {
                    cursor: pointer;
                    &.color-out {
                        width: 48px;
                        height: 48px;
                        cursor: auto;
                    }
                    &.pallete {
                        display: grid;
                        grid-template-columns: repeat(11, 24px);
                        grid-template-rows: repeat(2, 24px);
                        & > div {
                            width: 24px;
                            height: 24px;
                        }
                    }
                    &.trash {
                        width: 48px;
                        height: 48px;
                        background-image: url(../../../assets/tools/trash.gif);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    &.eraser {
                        width: 48px;
                        height: 48px;
                        background-image: url(../../../assets/tools/eraser.gif);
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }
                    &.widths {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        gap: 2px;
                        & > div {
                            width: 48px;
                            height: 48px;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            background-color: white;
                            border-radius: 2px;
                            cursor: pointer;
                            & > div {
                                border-radius: 50%;
                                background-color: black;
                            }
                        }
                    }
                }
            }
        }
    }
}